/deeplabv3-plus-pytorch-main/model_data/deeplab_mobilenetv2.pth
/deeplabv3-plus-pytorch-main/logs/ep099-loss0.775-val_loss0.895.pth
/deeplabv3-plus-pytorch-main/logs/loss_2021_11_13_21_57_23/epoch_loss_2021_11_13_21_57_23.png
/deeplabv3-plus-pytorch-main/logs/loss_2021_11_13_21_57_23/epoch_loss_2021_11_13_21_57_23.txt
/deeplabv3-plus-pytorch-main/logs/loss_2021_11_19_16_53_04/epoch_loss_2021_11_19_16_53_04.png
/deeplabv3-plus-pytorch-main/logs/loss_2021_11_19_16_53_04/epoch_loss_2021_11_19_16_53_04.txt
/deeplabv3-plus-pytorch-main/logs/loss_2021_11_13_21_57_23/epoch_val_loss_2021_11_13_21_57_23.txt
/deeplabv3-plus-pytorch-main/logs/loss_2021_11_19_16_53_04/epoch_val_loss_2021_11_19_16_53_04.txt
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637225511.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637226559.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637226620.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637227426.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637227535.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637227746.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637227764.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637227911.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637227920.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637227937.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637228526.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637233160.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637233567.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637233677.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637233736.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637233906.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637234247.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637234403.DESKTOP-13ETDGT
/Model/TU_Synapse224/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs24_224/log/events.out.tfevents.1637234652.DESKTOP-13ETDGT
/Model/TU_Synapse512/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs2_512/log/events.out.tfevents.1637235214.DESKTOP-13ETDGT
/Model/TU_Synapse512/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs2_512/log/events.out.tfevents.1637237095.DESKTOP-13ETDGT
/Model/TU_Synapse512/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs2_512/log/events.out.tfevents.1637237808.DESKTOP-13ETDGT
/Model/TU_Synapse512/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs2_512/log/events.out.tfevents.1637238024.DESKTOP-13ETDGT
/Model/TU_Synapse512/TU_pretrain_R50-ViT-B_16_skip3_epo150_bs2_512/log/events.out.tfevents.1637238112.DESKTOP-13ETDGT
/deeplabv3-plus-pytorch-main/model_data/mobilenet_v2.pth.tar
/deeplabv3-plus-pytorch-main/logs/NOATT_EX_POTS_ep098-loss0.776-val_loss1.035.pth
/deeplabv3-plus-pytorch-main/logs/ONEep099-loss0.766-val_loss0.616.pth
/deeplabv3-plus-pytorch-main/logs/POTStwoep100-loss0.764-val_loss0.615.pth
/deeplabv3-plus-pytorch-main/logs/PREep100-loss0.824-val_loss0.670.pth
/deeplabv3-plus-pytorch-main/logs/PREEXep099-loss0.820-val_loss1.288.pth
/deeplabv3-plus-pytorch-main/logs/SentinalONEep100-loss0.198-val_loss0.157.pth
/deeplabv3-plus-pytorch-main/model_data/xception_pytorch_imagenet.pth
